

/* arrow */
arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-top:-3px;
}
arrow.drop {
    /* L shape */
}
arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*
    header button
*/
.header-clickable_button:hover {
    cursor:pointer;
    background-color:rgba(251, 247, 247, 0.1);
}
a.header_button{ /* remove default anchor styles */
    color:inherit;
    text-decoration:inherit;
}


/* hide dropdown unless parent is hovered over: */
.header_dropdown {
    display:none;
    position:absolute;
    background-color:#616161;
    overflow:hidden;
}
.header_element:hover .header_dropdown{
    display:block;
}

/* nested dropdown */
.header_element .header_element .header_dropdown{ /* if dropdown is nested under two elements, dont fold down and always show */
    position:relative;
    display:block;
}
.header_element .header_element .header_dropdown{
    padding-left:15px;
}
.header_element .header_element .header_element_dropdown_arrow-overwrite {
    display:none; /* dont show the subdropdown arrows */
}

/* hide the expand button untill it is already nested in atleast one dropdown */
.header_element .header_element_dropdown_expand-overwrite {
    display:none; /* show only if nested */
}
.header_element .header_element .header_element_dropdown_expand-overwrite {
    display:block; /* show only if nested */
}


/* style elements */
.header_element {
    flex:1;
    max-width:180px;
    min-width:160px;
    text-align:left;
}
.header_dropdown .header_element { /* aka header_dropdown_element */
    flex:1;
    font-size:13px;
    min-height:40px;
}
.header_button {
    min-height:40px;
}
.header_element:not(.header_element_no_hover):hover {
    background-color:rgba(251, 247, 247, 0.1);
}
.header_element_expand_button:hover {
    background-color:rgba(251, 247, 247, 0.1);
    cursor: pointer;
}
